* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: aquamarine;


}

nav li {
  display: inline-block;
  margin: 0 10px;
  background-color: blueviolet;
}




h1 {
  color: black;
  margin: auto;
  float: inline-end;
  text-align: center;
}

image {
  margin: 0 auto;
  display: block;
}

s#details {
  div {
    padding: 10px 10px;
  }
}

section {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}